@use "styles/variables" as *;

.features {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 31.25em /* 500px */) {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  @media (min-width: 40.625em /* 650px */) {
    flex-direction: row;
    max-width: none;
  }

  @media (min-width: 62.5em /* 1000px */) {
    gap: 6.5rem;
    margin-bottom: 10rem;
  }
}

.feature {
  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: $color-primary;
    margin-bottom: 0.8rem;

    @media (min-width: 62.5em /* 1000px */) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: $color-secondary;

    @media (min-width: 62.5em /* 1000px */) {
      font-size: 1.6rem;
    }
  }
}
