@use "styles/variables" as *;

.content {
  flex-grow: 1;
  padding-left: $margin-mobile;
  padding-right: $margin-mobile;
  padding-bottom: 6.4rem;
  padding-top: calc($docs-header-height-mobile + 3.2rem);
  margin: 0 auto;
  max-width: 70rem;
  overflow: hidden;

  @media (min-width: 43.75em /* 700px */) {
    padding-top: calc($docs-header-height-mobile + 6.4rem);
    padding-left: $margin;
    padding-right: $margin;
  }

  @media (min-width: 59.375em /* 950px */) {
    padding: 6.4rem 6.4rem;
    max-width: 80rem;
  }

  @media (min-width: 84.375em /* 1350px */) {
    max-width: none;
    padding: 6.4rem 9.6rem;
  }
}

.docs:not(.empty) {
  margin-bottom: 5rem;
}

.section:not(.empty) {
  margin-bottom: 5rem;
}

.subsection:not(.empty) {
  margin-bottom: 5rem;
}
