@use "styles/variables" as *;

.left {
  width: 0;

  @media (min-width: 59.375em /* 950px */) {
    width: calc(#{$margin} + 24rem);
    height: calc(100vh - $header-height);
    flex-shrink: 0;
  }

  @media (min-width: 89.25em /* 1428px = $max-width + $margin * 2 */) {
    width: calc((100% - #{$max-width}) / 2 + 27rem);
  }
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(#{$margin} + 24rem);
  background: white;
  padding-left: $margin;
  padding-top: 3.2rem;
  padding-bottom: 9.6rem;
  border-right: 0.1rem solid $color-divider;
  z-index: 2000;
  max-width: 75%;
  overflow: auto;
  transform: translateX(-100%);
  transition: transform 0.5s ease;

  &.show {
    transform: translateX(0%);
  }

  @media (min-width: 59.375em /* 950px */) {
    top: $header-height;
    left: 0;
    height: calc(100vh - $header-height);
    width: calc(#{$margin} + 24rem);
    transform: translateX(0%);
    transition: none;
  }

  @media (min-width: 89.25em /* 1428px = $max-width + $margin * 2 */) {
    width: calc((100% - #{$max-width}) / 2 + 27rem);
    padding-left: calc((100% - #{$max-width}) / 2);
  }
}

.logo {
  width: min-content;
  margin-bottom: 2rem;

  @media (min-width: 59.375em /* 950px */) {
    display: none;
  }
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.heading {
  font-size: 1.3rem;
  font-weight: 500;
  color: $color-primary;
  padding: 0.4rem 0;
  line-height: 1.95rem;
}

.subsections {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.link {
  display: inline-block;
  font-size: 1.3rem;
  color: $color-secondary;
  text-decoration: none;
  font-weight: 400;
  padding: 0.4rem 0;
  line-height: 1.95rem;
  transition: all 0.2s ease;

  &.selected {
    color: $color-accent;
  }

  &:not(.selected):hover {
    color: $color-primary;
  }
}
