@use "styles/variables" as *;

.logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
  color: $color-primary;
}

.svg {
  width: 2.8rem;
}

.text {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;

  .ui {
    font-weight: normal;
  }
}
