@use "styles/variables" as *;

.button {
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: $color-secondary;
  cursor: pointer;
  height: 100%;
  padding: 0 2rem;
  margin-right: -2rem;
  transition: all 0.2s ease;

  &:hover {
    color: $color-primary;
  }
}
