@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
**::after,
**::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
