@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: "Menlo";
  src: url("../public/fonts/menlo.ttf");
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

code {
  font-family: "Menlo", monospace;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
